@page "/"

@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager navManager
@implements IAsyncDisposable

<div class="row">
    <div class="col-12">
        <label> Text </label>
        <input type="text" @bind="text"/>
        <button @onclick="Send"> Send</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @foreach (var t in texts)
        {
            <p>@t</p>
        }
    </div>
</div>


@code{
    private HubConnection hubConnection;
    private string text;
    List<string> texts = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder().WithUrl(navManager.ToAbsoluteUri("/texthub")).Build();

        hubConnection.On<string>("ReceiveInformation", (receiveText) =>
        {
            texts.Add(receiveText);
            text = "";

            // Decalre change **IMPORTANT
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    async Task Send() => await hubConnection.SendAsync("Send", text);

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }
}